* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
    font-family: "Elms Sans", sans-serif;
  font-optical-sizing: auto;
  
}

body {
  background-color: hsl(0, 0%, 20%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card {
  background-color: hsl(0, 0%, 15%);
  display: flex;
  flex-direction: column;
  margin: 100px;
  width: 30vw;
  height: 100vh;
  border-radius: 10px;
}
.image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30%;
  padding: 40px;
}
.image img {
  margin-top: 30px;
  border-radius: 50%;
  height: 90px;
}
.image h2{
  margin-top: 20px;
color: white;
font-weight: 400;
}
.image h4{
margin-top: 10px;
color: hsl(75, 94%, 57%);
font-weight: 500;
}
.social{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  
}
.buttons{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding: 30px;
  gap: 25px;


   /* margin: 30px; */
}
button{
  border: none;
  box-shadow: none;
    width: 100%;
  height: 45px;
  font-weight: bold;
  color: white;
  background-color: hsl(0, 0%, 12%);
  border-radius: 5px;
  cursor: pointer;
  
}
button:hover{
background-color: hsl(0, 0%, 7%);
}