*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container {
    display: flex;
  background-color: hsl(0, 0%, 100%);
  flex-direction: column;
  width: 300px;
  align-items: center;
  border-radius: 15px;
  padding: 22px ;
  gap: 20px;
  
}
img {
width: 100%;
  border-radius: 10px;
}
h2 {
  margin: 10px;
  font-weight: 700;
  text-align: center;
  color: hsl(218, 44%, 22%);
}
p {
  text-align: center;

  color: hsl(216, 15%, 48%);
}
