*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 100px;
  width: 100%;
}
.nav1 img{
  height: 18px;
  
}
.nav2{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
@media (max-width:960px) {
  .nav2 a{
    display: none;
  }
  nav{
    padding: 30px 20px;
  }
}
.nav2 a{
  text-decoration: none;
  color: #666666;
}
.nav2 i{
  font-size: 23px;
}
.nav2 a:hover{
  cursor: pointer;
  color: #387ed1;
}
.hero{
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 65px;
}
.hero img{
  width: 50%;
  min-width: 350px;
}